:root {
  --primary-color: #00AFB9;
  --primary-light-color: #00afb91a;
  --primary-dark-color: #02a0a9;
  --title-color: #3f3d56;
  /* --title-color: #322153; */
  --text-color: #6C6C80;
  --background: #F0F0F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}